
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPage</title>
</head>
<body>
    <h2>Contact View</h2>
    <p>Contact View of Home Controller</p>
</body>
</html>
